.container-fluid{
border-style: solid;
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-color: #ddd;
}

#ocultar{
    display: none;
}


#Isotipo-nav {
    width: 4%;
    margin: 5px;
    margin-left: 40px;
}

#Logotipo-nav {
    width: 24%;
    margin: 10px;
    margin-left: 10px;
}

.navbar-toggler{
    border-style: none;
}

@media (max-width: 768px) {
    .navbar-brand{
        display: flex;
        justify-content: center;
    }
    #Logotipo-nav{
        margin: 12px;
    }

}



@media (max-width: 544px) {
    #proffesion, #user-name, #profile-picture{
        display: none;
    }

    #Isotipo-nav {
        width: 5%;
        margin: 5px;
        margin-left: 40px;
    }
    
    #Logotipo-nav {
        width: 40%;
        margin: 10px;
        margin-left: 10px;
    }

}

@media (max-width: 320px) {
    #Isotipo-nav {
        width: 12%;
        margin: 6px;
        margin-left: 40px;
    }
    
    #Logotipo-nav {
        width: 60%;
        margin: 15px;
        margin-left: 10px;
    }

    #ocultar{
        display: inline-block;
    }

    #container-header{
    }

}

