.d-flex {
  overflow: hidden;
  background-color: #fff !important;
}

a{
  text-decoration: none;
}

.explanation-text{
    color: #1b8dce;
    padding: 15px;
    margin-left: 30%;
}

button{
  border: none;
}

#continue-btn button:hover {
  text-decoration: overline !important;
}

.card{
  display: block;
  margin: 20px;
}

  #container-card{
    display: inline-block;
    margin: 20px 50px 50px 50px;
  }

  #change-bg{
    color: #000000 !important;
  }
  #continue-btn{
    background-color: #f7f7f7 !important;
    padding: 5% 0 5% 0;
  }

  #description{
    text-decoration:none; 
    padding-bottom: 10px;
  }
  #continuar-boton{
    color: #656565; 
    padding: 10px;
  }

  .options-icon{
    padding: 15% 20% 0 35%
  }

@media (max-width: 794px) {
  #continue-btn{
    background-color: #e8ecee !important;
    padding: 5% 34% 5% 40%;
  }
}
@media (max-width: 320px) {
  #continue-btn{
    background-color: #e8ecee !important;
    padding: 5% 37% 5% 40%;
  }
  #explanationContext{
    margin-left: 30px;
  }

  #container-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #card-txt{
    font-size: 10px !important;
  }
}